<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Administracion_dbConnection" connectionString="data source=DIEGO-HP\SQLEXPRESS2;initial catalog=administracion_db;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>